.topic-list > .topic-list-body > .topic-list-item:nth-child(odd) {
  background-color: var(--secondary);
}

.topic-list > .topic-list-body .topic-list-item:not(.last-visit):not(.topic-list-item-separator) .topic-list-data {
  border-bottom: 1px solid var(--primary-low);
}

.topic-list .topic-list-data a.title:not(.badge-notification) {
  color: var(--simple-theme-link-color);
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, Utkal, sans-serif;
  font-size: 18px;
}

.topic-list .topic-list-data a.title:not(.badge-notification):hover {
  text-decoration: underline;
}

.topic-list .creator,
.topic-list .editor {
  font-size: 13px;
  display: block;
  margin-top: 3px;
}

.topic-list .main-link {
  width: auto;
}

.topic-list {
  .topic-list-data,
  .creator a,
  .editor a {
    color: var(--primary-medium);
  }
}

.topic-list .topic-list-data {
  padding-bottom: 10px;
}

.topic-list .topic-list-header .topic-list-data {
  color: var(--primary);
  background-color: var(--primary-very-low);
}
.topic-list {
  border-top: none;
}

.topic-list .topic-list-data:first-of-type {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

.topic-list .topic-list-item.topic-list-item-separator .topic-list-data:first-of-type {
  padding: 0;
}

.topic-list {
  .fa-tag {
    opacity: 0.7;
    font-size: 10px;
    margin-right: -2px;
  }
  .num.posts-map {
    position: relative;
    font-size: 17px;
    a {
      color: var(--primary-medium) !important;
      font-weight: normal;
    }
    a.heatmap-high {
      color: #c66 !important;
    }
    width: 100px;
  }
}

.topic-list .topic-list-data.last-post,
.topic-list .topic-list-header .topic-list-data.activity {
  width: 160px;
  .relative-date {
    color: var(--primary-high);
  }
}

.topic-list .creator .relative-date {
  margin-left: 8px;
}

.badge-category-bg {
  opacity: 0.8;
}

.topic-list .badge-wrapper.bar {
  .badge-category {
    color: var(--primary-medium) !important;
    font-weight: 600;
    font-size: 12px;
    padding: 2px 6px;
  }
  .badge-category-bg {
    top: -1px;
  }
}

.last-post {
  .poster-avatar {
    margin-right: 10px;
    margin-top: 5px;
  }
  .poster-avatar,
  .poster-info {
    float: left;
  }
}

.topic-list .posts {
  width: auto;
}

/* topic page */

nav.post-controls button.has-like {
  color: var(--tertiary);
}

.creator .badge-wrapper.bullet span.badge-category {
  margin-top: -2px;
}

img.avatar {
  border-radius: 3px;
}

#suggested-topics td.main-link {
  width: 500px;
}

.topic-list a.title.visited:not(.badge-notification) {
  color: #6644aa;
}

.topic-list-item .discourse-tags {
  font-size: 0.75em;
  margin-left: 5px;
}

body {
  .topic-list-item.visited a.badge-wrapper,
  .latest-topic-list-item.visited a.badge-wrapper,
  .category-topic-link.visited a.badge-wrapper {
    opacity: 1;
  }
}
