:root {
  --font-family: "Helvetica Neue", Helvetica, Arial, Utkal, sans-serif;
}

.topic-list {
  tbody {
    border: none;
  }

  .topic-list-header .topic-list-data {
    color: var(--primary);
    background-color: var(--primary-very-low);
  }

  .main-link {
    width: auto;
  }
  .posts {
    width: auto;
  }
  .views {
    display: none;
  }
  .activity {
    display: none;
  }
  .posters {
    display: none;
  }
  .last-post {
    width: 10em;

    &__contents {
      display: flex;
      gap: 0.25em 0.75em;
      align-items: center;
      height: 100%;
    }

    .relative-date {
      color: var(--primary-high);
    }

    .poster-info {
      display: flex;
      flex-direction: column;
      min-width: 0;
      align-self: baseline;
    }

    .editor {
      font-size: var(--font-down-1);
      min-width: 0;
      @include ellipsis;

      a {
        color: var(--primary-medium);
      }
    }
  }

  .topic-list-body .topic-list-item:nth-child(even) {
    background-color: var(--primary-very-low);
  }

  .topic-list-item {
    .link-bottom-line {
      .excerpt {
        margin: 0;
      }
      .excerpt__contents {
        font-size: var(--font-down-1);
        max-width: unset;
      }
    }

    .topic-list-data {
      a.title:not(.badge-notification) {
        color: var(--simple-theme-link-color);
        &:hover {
          text-decoration: underline;
        }
      }
    }

    &:not(.visited) {
      .excerpt__contents {
        color: var(--primary-high);
      }
    }

    &.visited {
      .topic-list-data a.title:not(.badge-notification) {
        color: var(--quaternary);
      }
    }
  }

  .main-link a.title {
    display: inline-block;
    line-height: var(--line-height-medium);
    padding: 0;
    margin-top: 0.15em;
  }

  .num.posts-map {
    width: 6.5em;
  }

  .discourse-tags {
    align-self: end;
    margin-left: 0.5em;
    .discourse-tag {
      color: var(--primary-medium);
    }
  }

  .topic-statuses {
    line-height: 1.5;
  }

  .link-bottom-line {
    font-size: var(--font-down-2);
    margin-top: 0.25em;
  }

  .op-data {
    display: flex;
    width: 100%;
    font-size: var(--font-down-3);
    align-self: end;
    a {
      color: var(--primary-medium);
    }
    .op-date {
      margin-left: 0.5em;
    }
  }

  .badge-notification {
    padding: 0.2em 0.45em 0.3em;
  }
}

/* topic page */

nav.post-controls .actions .double-button button.has-like .d-icon {
  color: var(--simple-theme-link-color);
}

img.avatar {
  border-radius: 0.2em;
}

#suggested-topics td.main-link {
  width: 31em;
}
